.warp
{
    margin: 0 auto ;
    text-align: center;

}

#loginlogin{
    font-size: 50px;
    font-family: cursive;
}

.login
{
    padding: 50px;
    color: white;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;

}

.background
{
    background-color: #1f712f;
}

#pp {
    padding-top:  150px ;

    color: black ;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1em;

}

.nheader
{
    background-color: #393351; 
    padding: 25px;
    border-radius: 50px;

}

.nheader2
{
    background-color: #FA2C56; 
    padding: 25px;
    border-radius: 30px;
    color: white; 
    font-family: cursive;
}

h2{
    padding: 40px;

}

.buttons
{
    padding: 50px;
    margin-left: 400px;
    margin-right: 400px;
}

#npar
{
    margin: 0 auto ;
    text-align: center;
    padding-bottom: 100px;
}

.iletisim{
    padding: 50px;
    color: white;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}

.iletisim2
{
    color: white;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 5px;
}

#iletisim3{
    font-size: 50px;
    font-family: cursive;
}